@model tcsoft_pingpongclub.Models.ExpenseAndIncome

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>ExpenseAndIncome</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdFund" class="control-label"></label>
                <select asp-for="IdFund" class ="form-control" asp-items="ViewBag.IdFund"></select>
            </div>
            <div class="form-group">
                <label asp-for="IdParty" class="control-label"></label>
                <select asp-for="IdParty" class ="form-control" asp-items="ViewBag.IdParty"></select>
            </div>
            <div class="form-group">
                <label asp-for="IdAccountant" class="control-label"></label>
                <input asp-for="IdAccountant" class="form-control" />
                <span asp-validation-for="IdAccountant" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsDone" class="control-label"></label>
                <input asp-for="IsDone" class="form-control" />
                <span asp-validation-for="IsDone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Loại</label>
                <div>
                    <input type="radio" asp-for="Type" value="false" id="TypeThu" />
                    <label for="TypeThu">Thu</label>
                </div>
                <div>
                    <input type="radio" asp-for="Type" value="true" id="TypeChi" />
                    <label for="TypeChi">Chi</label>
                </div>
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="IdReason" class="control-label"></label>
                <select asp-for="IdReason" class ="form-control" asp-items="ViewBag.IdReason"></select>
            </div>
            <div class="form-group">
                <label asp-for="DaysOverdue" class="control-label"></label>
                <input asp-for="DaysOverdue" class="form-control" />
                <span asp-validation-for="DaysOverdue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
