@model tcsoft_pingpongclub.Models.Role

@{
    ViewData["Title"] = "Details";
}
<head>
    <link rel="stylesheet" href="/css/form-detail-style.css">
</head>

<h1>Details</h1>

<div class="table-container">
    <h4>Role Information</h4>
    <hr />
    <table>
        <tr>
            <th>@Html.DisplayNameFor(model => model.NameRole)</th>
            <td>@Html.DisplayFor(model => model.NameRole)</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Status)</th>
            <td>@Html.DisplayFor(model => model.Status)</td>
        </tr>
    </table>
</div>

<div style="text-align:center; margin-top: 20px;">
    <a asp-action="Edit" asp-route-id="@Model?.IdRole">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
