html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
img {
    width: 40px; /* Kích th??c ?nh ??i di?n */
    height: 40px;
    border-radius: 50%; /* T?o hình tròn */
    object-fit: cover; /* C?t ?nh ?? phù h?p khung */
    margin-right: 10px;
}